[class*="col-"], footer {
  position: relative;
  line-height: 40px;  
  text-align: center;
}

/* Just some base styles not needed for example to function */
*, html { font-family: Verdana, Arial, Helvetica, sans-serif; }

body, form, ul, li, p, h2, h3, h4, h5
{
	margin: 0;
	padding: 0;
}

p
{
	font-size: 1em;
	margin: 0 0 1em 0;
}

h2 
{ 
	font-size: 14px; 
	margin: 0 0 12px; 
}

header
{
	background-color: rgb(224,224,224);
	border: 1px solid black;
	font-size: 18px;
	font-weight: bold;
}

img
{
	max-width: 100%;
	height: auto;
}

fieldset
{
	text-align: left;
	border:3px solid black;
}

#logoUrjob
{
	position: relative;
    left: 50%;
    width: 40px; 
    height : 40px;
}

#nav
{
	text-align: center;
	background-color: rgb(224,224,224);
	border: 1px solid black;
	float : left;
	margin-bottom: 20%;
}

#niveau1
{
	float: right;
}

ul#niveau1 ul#niveau2
{
	display: none;
}

ul#niveau1 .survol:hover ul#niveau2
{
	display: block;
	left: -20px
}

#Notif
{	
	margin-top: 20px;
	border: 2px solid black;
	border-radius: 6px;
	margin-bottom: 15px;
}

#rappel
{
	background-color: rgb(224,224,224);	
	text-align: left;
}

#mission
{
	background-color: rgb(224,224,224);	
	text-align: left;
	margin-bottom: 30px;
}

#traitVertical
{
	margin-top: 10px;
	margin-bottom: 10px;
	border-left: 1px solid black;
    padding-left: 5px;
    margin-left: 50px;
}

#traitHorizontal
{
	position: relative;
	border-top: 1px solid black;
	margin-left: 8.33%;
}

#logoHopital
{
	position: relative;
	margin-top: 20px;
}

#notes
{
    height: 150px;
    overflow-y: scroll;
    border: 3px solid black;
}

#myModal, #fichiers
{
	border: 3px solid black;
}

#boutonPop
{
	position: relative;
    right: 50%;
}

#comptes
{
	margin-top: 20px;
	border: 3px solid black;
	height: 200px;
    overflow-y: scroll;
}

#compte
{
	background-color: rgb(224,224,224);	
	text-align: left;
	margin-top: 20px;
}

#encours
{
	margin-top: 20px;
	border: 3px solid black;
	height: 400px;
    overflow-y: scroll;
}

#boutonCompte
{
	margin-top: 15px;
}

input:focus:required:invalid 
{
  background: pink url(ico_validation.png) 379px 3px no-repeat;
}

input:required:valid 
{
  background-color: #fff;
  background-position: 379px -61px;
}


/* CSS Formulaire */ 

.input-group
{
	margin-top: 20px;
}

#signup
{
	margin: 20px auto;
	width: 610px;
}
#signup fieldset	
{
	margin: 0 0 20px;
	padding: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
	#signup ol
	{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	#signup li
	{
		margin: 0 0 12px;
		position: relative;
	}
	#signup label
	{
		width: 150px;
		display: inline-block;
		vertical-align: top;
	}
	#signup fieldset input,
	#signup fieldset textarea,
	#signup fieldset select
	{
		background: #fff url(ico_validation.png) 379px 24px no-repeat;
		display: inline-block;
		width: 371px;
		border: 1px solid #fff;
		padding: 3px 26px 3px 3px;
		
		-moz-transition: background-color 1s ease;
		-webkit-transition: background-color 1s ease;
		-o-transition: background-color 1s ease;
		transition: background-color 1s ease;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	#signup fieldset select		{ width: 401px; padding: 3px; }
	#signup fieldset #postcode	{ padding: 3px; width: 400px; }
	

#signup input::-webkit-input-placeholder,
#signup input:-moz-placeholder {
	color: #A6A6A6;
}

#signup input:focus:required:invalid
{ 
	background-color: pink; 
	background-position: 379px 3px;
	outline: none; 
}
#signup input[type=text]:focus:not([pattern]):required:invalid
{
	background-color: #fff; 
	background-position: 379px -29px;
}

#signup .validation01
{ 
	background: red;
	color: #fff;
	display: none;
	font-size: 12px;
	padding: 3px;
	position: absolute;
	right: -160px;
	text-align: center;
	top: 0;
	width: 150px;
	
	-moz-box-shadow: 0px 0px 4px #ffffff;
	-webkit-box-shadow: 0px 0px 4px #ffffff;
    box-shadow: 0px 0px 4px #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#signup input:focus + .validation01 							{ display: block; }
#signup input:focus:required:valid + .validation01			{ background: green; }
#signup input:focus:required:valid + .validation01 .invalid	{ display: none; }
#signup input:focus:required:invalid + .validation01 .valid	{ display: none; }

#signup input:required:valid
{ 
	background-color: #fff;
	background-position: 379px -61px;
}

#avertissement
{
	background-color: red;
	margin-top: 20px;
}

